<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - My Expanded Detail View</title>
    <link href="~/Content/CSS/Layout.css" rel="stylesheet" />
        @*<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="~/Content/Scripts/Footer.js"></script>
        <script src="~/Content/Scripts/jquery-ui.min.js"></script>
        <script src="~/Content/Scripts/Colors.js"></script>*@
</head>
<body>
    <div id="background">

    </div>
    <div id="left">

    </div>
    <div id="right">

    </div>

    <img id="bestWeb" src="~/Content/BestWebsiteHealth.png" />

    <div id="bodyWrapper">
        <header>
            Header
        </header>
        <nav>
            <ul>
                <li>
                    <a href="/Home/Index">Home</a>
                </li>
                <li>
                    <a href="/Home/ListProducts">Products</a>
                </li>
                <li>
                    <a href="/Home/ListCategories">Categories</a>
                </li>
                <li>
                    <a href="/Home/AddProduct">Add Product</a>
                </li>
                <li>
                    <a href="/Home/RemoveProduct">Remove Product</a>
                </li>
            </ul>
        </nav>
        <div id="contentWrapper">
            @RenderBody()
        </div>
        <footer>
            Footer
        </footer>
    </div>
</body>
</html>
